@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Nunito:ital,wght@0,200;0,300;0,600;1,200&display=swap");

//colors
$white: #ffffff;
$input-border-color: rgba(0, 18, 51, 0.3);
$input-color: rgba(13, 22, 137, 0.8);
$box-shadow-card: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

//border radius
$input-border-radius: 0.81rem;

//font family
$font-family​: ​ "​Nunito​ Sans" ​;
