.btn {
  &-large {
    padding: 0.63rem;
    background: blue;
    border-radius: 0.5rem;
    outline: none !important;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 30%;
    }
  }
  &-small {
    justify-content: space-around;
    align-items: center;
  }
}
