.list-property {
    &__header {
        background-image: url("../../images//background.jpg");
        height: 300px;
        background-size: fill;

        h1 {
            color: #0c1e7f;
            padding-top: 90px;
            font-size: 3rem;
        }
    }
    &__property-form {
        grid-column-gap: 2rem;
        width: 90%;
        margin: auto;
    }

    &__button {
        border: none !important;
    }
    &__viewMore {
        background-color: #ffc600;
        border: none;
        color: white;
        border-radius: 4px;
    }
    .input-group {
        border: 1px solid #ccc;
        border-radius: 0.5rem;
    }
    .search-input {
        border: none !important;
    }
    &__properties {
        width: 95%;
        margin: auto;
        h1 {
            color: #0c1e7f;
            padding-top: 90px;
        }
        &-details {
            margin-top: 30px;
            p {
                display: flex;
                gap: 0.5rem;
            }
        }
    }
    .card {
        max-width: 1170px;
    height: 100%;
    margin-top: 20px;
    }
    .card-image {
        max-height: 350px;
        object-fit: cover;
    }
    .card-img-top {
        height: 60%;
        width: 60%;
    }
    .card-body {
        background-color: #0c1e7f;
        color: white;
    }
    .card-inner {
        // display: flex;
        // justify-content: space-between;
        transition: all 0.5s ease 0s;
    }
}

.ms-n5 {
    margin-left: -40px;
}
