.single-page-property {
    &__description {
        width: 90%;
        // margin-top: 2rem;
        padding-left: 3rem;
        &-details {
            h6 {
                font-size: 30px;
                color: #0c1e7f;
                margin-bottom: 1rem;
            }
        }
    }
    &__propertyCard {
        width: 90%;
        margin: 40px auto;
        background: #f8f9fa;
    }

    &__property-items {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        p {
            color: #0c1e7f;
            font-size: 14px;
        }
    }
    &__description-details {
        font-size: 14px;
        // color: red;
    }

    .icon {
        font-size: 30px;
    }
    .carousel-inner {
        height: 75vh;
    }
    .services {
        background: #f8f9fa;
    }
}
