.single-page-property {
    &__description {
        width: 90%;
        // margin-top: 2rem;
        padding-left: 3rem;
        &-details {
            h6 {
                font-size: 30px;
                color: #0c1e7f;
                margin-bottom: 1rem;
            }
        }
    }
    &__propertyCard {
        width: 90%;
        margin: 40px auto;
    }

    &__property-items {
        display: flex;
        justify-content: space-between;
    }

    .icon {
        font-size: 30px;
    }
    .carousel-image {
        object-fit: fill;
    }
    .carousel-inner {
        height: 65vh;
    }
    .services {
        background: #f8f9fa;
    }
}
